
/* .div-wraper {
  max-width: auto;
  display: flex;
  justify-content: centers;
} */

.block:nth-child(1) {
 max-width: 250px;
  height: 250px;
  background-color: pink;
}
.block:nth-child(2) {
 max-width: 250px;
  height: 250px;
  background-color: red;
}

.block:nth-child(3) {
  max-width: 250px;
  height: 250px;
  background-color: green;
}

.block:nth-child(4) {
  max-width: 250px;
  height: 250px;
  background-color: blue;
}

.block {
  width: 250px;
  height: 100px;
  background-color: blue;
  margin-right: 20px;
}
.div-wraper {
  max-width: 1366px;
  display: flex;
  justify-content: center;
}

/* responsive */

@media (max-width:1100px) {
    .block {
        flex-wrap: wrap;
        background-color: black;
    }
}